div.container {
    div.row {
        div.col {
            ul {
                list-style: none;
                padding: 0;
                li {
                    margin: 0.2em 0;
                    a {
                        display: inline-block;
                        width: 100%;
                        font-size: 1em;
                        padding: 0.1em 1.5em;
                        text-decoration: none;
                        color: #333;
                    }

                    a:hover, a.activated {
                        background-color: rgb(29, 161, 242, 0.2);
                    }
                }
            }
        }
    }
}