<nav>
    <div class="logo">
        <img src="../../assets/ham-menu.png" alt="" class="d-block d-md-none ham-burger-menu">
        <a href="">
            <img src="../../assets/logo.png" alt="logo">
            <span>Ask It Now</span>
        </a>
    </div>
    <div class="navbar d-none d-md-block">
        <a href="">Home</a>
        <a href="">Questions</a>
        <a href="">About</a>
    </div>
    <div class="right-navbar ml-auto d-none d-md-block">
        <!-- <a href="" class="btn btn-primary mx-1">Login</a>
        <a href="" class="btn btn-outline-success">Register</a> -->
        <a href="">
            <span>Akanksha Sharma</span>
            <img src="../../assets/0.jpeg" alt="">
        </a>
    </div>
</nav>