<div class="comment-box">
    <img src="../../assets/0.jpeg" alt="">
    <div class="comment-container">
        <p class="name-duration small">
            <span class="name"><a href="#" title="sachinsingh@kumar">Sachin Singh</a></span>
            <span class="text-muted duration">23 hour ago</span>
        </p>
        <p class="comment-text small">
            This  is a comment texsdfsadfasdft
        </p>
    </div>
</div>

<div class="comment-input">
    <img src="../../assets/0.jpeg" alt="">
    <input type="text" placeholder="Your Comment" class="form-control form-control-sm">
    <button class="btn btn-primary btn-sm mx-1">Comment</button>
</div>