<div class="row justify-content-center my-4">
    <div class="login-card col-lg-6 col-md-8 col-sm-12 p-2 rounded shadow-sm">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="">
        </div>
        <p class="font-weight-bold h4 text-center">Sign In</p>
        <form>
            <div class="input-wrapper">
                <input type="text" placeholder="Username" autofocus>
            </div>
            <div class="input-wrapper">
                <input type="password" placeholder="Password">
            </div>
            <div class="input-wrapper">
                <input type="submit" value="Log In">
            </div>
            
            <a href="#">Forget Your Password?</a>
            <a href="#">Create Account.</a>
        </form>
       
    </div>
</div>