<div class="container">
    <div class="row shadow-sm rounded">
        <div class="col">
            <div class="user-info">
                <img src="../../assets/0.jpeg" alt="" class="display-picture">
                <div class="name-container">
                    <span class="name">Akanksha Sharma</span>
                    <span class="username"><a href="#" class="text-decoration-none">@akanksha16</a></span>
                </div>
            </div>
           <h5 class="question-title">Is it possible to check if there’s a secret life insurance on you?</h5>
            <p class="question-body">
                He's been a continuous source of embarassment for the party, is dealing miserably with the two present crises, and is even mild on Putin after the news that Russia has put a bounty on troopers in Afghanistan... Are Republicans going to let him go away with all that? 

            </p>
            <div class="stat text-muted">
                <span class="duration">
                    12 hour ago &bull;
                </span>
                <span>
                    <a href="">Music</a> &bull;
                </span>
                <span>
                    23 Answers
                </span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="h5">
        10 Answers
    </div>
</div>
<app-answer-list></app-answer-list>